OneMinuteChanges/DataHelper_BACKUP_47706.swift
OneMinuteChanges/DataHelper_LOCAL_47706.swift
OneMinuteChanges/DataHelper_BASE_47706.swift
OneMinuteChanges/DataHelper_REMOTE_47706.swift
OneMinuteChanges/.DS_Store
OneMinuteChanges.xcworkspace/xcuserdata/brittanyaustin.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
